{# modules/custom/payment_record/templates/payment_record/payment_record_form.html.twig #}

<style>
  h1.accionista-paga{
    text-align: center;
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 30px;
  }
  .payment-record-form{
    padding: 20px 10px;
    border: 2px dotted;
    margin-bottom: 20px;
  }
</style>
<h1 class="accionista-paga">
  {{ title }}
</h1>
<div class="payment-record-form">
  {{ form }}
</div>


